.start-page-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    background: linear-gradient(180deg, #E0DCE5 0%, #5E5865 100%);
    padding: 20px;
  }
  
  .beverage-icon-container {
    flex-grow: 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .beverage-icon {
    /* Adjust the size as needed */
    width: 120px;
    height: auto;
  }
  
  .start-button {
    background-color: #8556C2; /* The button color */
    color: white;
    border: none;
    padding: 20px 40px;
    border-radius: 25px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 80px; /* Adjust as needed */
    cursor: pointer;
  }
  
  .navigation-bar {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  
  .navigation-icon {
    /* Adjust the size as needed */
    width: 50px;
    height: auto;
  }

  
  .slide-in-bubble {
    position: absolute;
    left: -300px; /* Start off-screen */
    top: 20%; /* Adjust based on your layout */
    background-color: #8556C2; /* Purple background */
    color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    width: 250px; /* Adjust as needed */
    animation: slideIn 0.5s forwards; /* Animation to slide in */
  }
  
  @keyframes slideIn {
    from {
      left: -300px;
    }
    to {
      left: 20px; /* Where the bubble should stop */
    }
  }